<div class="container">
    <form class="card" (submit)="updateIncident()">
        <div class="card-header">
            <h2>Update Incident</h2>
        </div>
        <!-- Add form fields for updating incident details (e.g., description, status, date_creation, incidentType) -->
        <div class="card-body">
            <div>
                <h2 class="label">Type de materiel </h2><br />

                <select class="selection" name="incidentType" style="width: 300px;"
                    [(ngModel)]="updatedIncident.incidentType" [value]="">
                    <option value="hardware">Hardware</option>
                    <option value="software">Software</option>
                </select>
                <input class="offset-10" type="hidden" name="username" [(ngModel)]="updatedIncident.user"
                    value="{{this.loginService.username}}">
                <input class="offset-10" type="hidden" name="date-creation" [(ngModel)]="updatedIncident.date_creation"
                    value="{{this.date_creation}}">
            </div>


            <div>

                <label class="label mt-5">Description</label>
                <textarea type="text" class="area form-control" id="description"
                    [(ngModel)]="updatedIncident.description" [value]="this.updatedIncident.description"
                    name="description"></textarea>
            </div>
            <label class="label">Status</label><br />
            <select class="selection" style="width: 300px;" [(ngModel)]="updatedIncident.status" name="status">
                <option value="En cours">En cours</option>
                <option value="Terminer">Terminer</option>
            </select><br/>

            <button type="submit" class="btn btn-primary mt-5">Update</button>
        </div>
    </form>
</div>