<div class="tableau">
    <ul>
        <li>Filtrer</li>
        <li>Trier</li>
        <li>
            <button type="submit" class="btn btn-outline-primary" (click)="onSearch()" style="margin-right: 15px;">
                <i class="fa fa-search"></i>
            </button>
            <input type="text" class="search" placeholder="Recherche" (keypress)="onSearch()" key
                [(ngModel)]="nickname">
        </li>
        <li *ngIf="this.authService.isAuthenticated == true" class="btn btn-primary li" (click)="onShow()">Nouvelle
            incident</li>
    </ul>
    <div class="row">
        <div class="col1 col-6">
            <div *ngFor="let incident of incidents">
                <a (click)="displayComment(incident.id)">
                    <div class="card card1" *ngIf="incident.status === 'En cours'">
                        <div class="card-body card-body1">
                            <div>{{ incident.incidentType }}</div>
                            <div>{{ incident.description }}</div>
                            <div>{{ incident?.date_creation|date }}</div>
                            <div style="color: rgb(255, 10, 10);font-weight: bold;">{{ incident?.status}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col1 col-6">
            <div *ngFor="let incident of incidents">
                <a (click)="displayComment(incident.id)">
                    <div class="card card1" *ngIf="incident.status === 'Terminer'">
                        <div class="card-body card-body1">
                            <div>{{ incident.incidentType }}</div>
                            <div>{{ incident.description }}</div>
                            <div>{{ incident?.date_creation|date }}</div>
                            <div style="color: rgb(0, 193, 0);font-weight: bold;">{{ incident?.status}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="tableauComment">
    <div class="card-body1">
        <h2>Commentaire</h2>
        <button class="btn btn-primary li mb-4" (click)="onModify()">modifier</button>
    </div>
    <div *ngFor="let i of comments">
        <div class="card card2">
            <div class="card-body card-body2">
                <div>{{ i.comment }}</div>
                <div></div>
            </div>
        </div>
    </div>
</div>


<!-- <app-comments></app-comments> -->

<app-new-incident [hide]="show"></app-new-incident>