<!-- <app-navbar></app-navbar> -->

<div class="container">
  <form class="card" #f="ngForm" (ngSubmit)="handleLogin(f.value)">
    <div class="card-header">
      <h2>Connexion</h2>
    </div>
    <div class="card-body">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" ngModel>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" autocomplete="current-password" ngModel name="password">
      </div>

      <button type="submit">Se connecter</button>
    </div>

  </form>
</div>