.symbole
{
    background-color:rgba(0, 9, 247, 0.6700000166893005);
    height:40px;
    width:40px;
    left:100px;
    top:34px;
    position:absolute;
    border-radius:50%;
}
.logo{
    position: absolute;
    top: 30px;
    left: 155px;
    font-size: 35px;
    text-align:left;
    vertical-align:text-top;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}
.username{
    position: absolute;
    left: 81vw;
    top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.login{
    position: absolute;
    left: 90vw;
    top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.btn{
    margin-left: 40px;
    background-color: rgba(151, 151, 151, 0.67);
    color: white;
    width: 100px;
    padding: 10px 20px;
    font-weight: bold;
    border: 0 solid
    
}
.btn:active,.btn:hover{
    margin-left: 40px;
    background-color: rgba(129, 129, 129, 0.67);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 0 solid
    
}
.sideBar{
    position: absolute;
    background-color: #ffffff;
    height: calc(100vh - 141px);
    width: 474px;
    top: 141px;
    border-radius:0% 10px 10px 0% ;
   
}
.navb{
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    list-style: none;
}
.item{

    margin-bottom: 40px;
}