<mat-toolbar class="topBar">

    <a routerLink="/" class="symbole"><img style="width: 150px;" src="/assets/logo.png" alt=""></a>

    <ul *ngIf="this.loginService.isAdmin()" class="navbar">
        <li>
            <a routerLink="/users">Utilisateurs</a>
        </li>
        <li>
            <a routerLink="/register">Ajouter un Utilisateur</a>
        </li>
    </ul>


    <h2 class="username" *ngIf="this.loginService.isAuthenticated">{{ this.loginService.username}}
        <button (click)="handleLogout()" class="btn btn-info">Logout</button>
    </h2>
    <div class="login" *ngIf="!this.loginService.isAuthenticated">
        <button routerLink="/login" class="btn btn-info ">Login</button>
    </div>

</mat-toolbar>
<!-- <div class="sideBar">
    <ul class="navb">
        <li class="item"><i class="fa fa-search" sstyle="margin-right: 15px;"></i> Recherche</li>
        <li class="item"><i class="fa fa-bell" style="margin-right: 15px;"></i> Incidents</li>
    </ul>
</div> -->