<mat-toolbar class="topBar">
    <div class="symbole"></div>
    <h1 class="logo">MAP</h1>
    <h2 class="username">username <button class="btn btn-info" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg "></span>Login</button><button class="btn btn-info " routerLink="/login" (click)="logout()">Logout</button></h2>
    
</mat-toolbar>
<!-- <div class="sideBar">
    <ul class="navb">
        <li class="item"><i class="fa fa-search" sstyle="margin-right: 15px;"></i> Recherche</li>
        <li class="item"><i class="fa fa-bell" style="margin-right: 15px;"></i> Incidents</li>
    </ul>
</div> -->
