.symbole
{
    left: 80px;
    top:5px;
    position:absolute;
    border-radius:50%;
}
.username{
    position: absolute;
    left: 86.5vw;
    top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.login{
    position: absolute;
    left: 90vw;
    top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.btn{
    margin-left: 40px;
    background-color: rgba(151, 151, 151, 0.67);
    color: white;
    width: 100px;
    padding: 10px 20px;
    font-weight: bold;
    border: 0 solid
    
}
.btn:active,.btn:hover{
    margin-left: 40px;
    background-color: rgba(129, 129, 129, 0.67);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 0 solid
    
}
.sideBar{
    position: absolute;
    background-color: #ffffff;
    height: calc(100vh - 141px);
    width: 474px;
    top: 141px;
    border-radius:0% 10px 10px 0% ;
   
}
.navb{
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    list-style: none;
}
.item{

    margin-bottom: 40px;
}


.navbar{
    position: relative;
    left: 300px;
    top: 35px;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    margin-right: 50px;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}