<mat-toolbar class="topBar">
    <div class="symbole"></div>
    <h1 ><a class="logo" routerLink="/">MAP</a></h1>
    <h2 class="username" *ngIf="this.loginService.isAuthenticated" >{{ this.loginService.username}}
        <button (click)="handleLogout()" class="btn btn-info">Logout</button>
        <button *ngIf="this.loginService.isAdmin()" routerLink="/register" class="btn btn-info ">Register</button>
    </h2>
    <div class="login" *ngIf="!this.loginService.isAuthenticated">
        <button routerLink="/login" class="btn btn-info ">Login</button>
        
    </div>
   
</mat-toolbar>
<!-- <div class="sideBar">
    <ul class="navb">
        <li class="item"><i class="fa fa-search" sstyle="margin-right: 15px;"></i> Recherche</li>
        <li class="item"><i class="fa fa-bell" style="margin-right: 15px;"></i> Incidents</li>
    </ul>
</div> -->