<div class="containe">
    <table class="table">
        <thead class="thead-dark">
            <tr class="thead-dark">
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">  </th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
                <td> {{user.nom}} </td>
                <td> {{user.prenom}} </td>
                <td> {{user.username}} </td>
                <td> {{user.password}} </td>
                <td><a type="button" (click)="delete(user.username)"><i class="fa fa-remove"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>