<div class="container">
    <form class="card" [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
            <h1>Nouvelle incident</h1>
        </div>
        <div class="card-body">
            <div>
                <h2 class="label">Type de materiel </h2><br/>
                <select class="selection" style="width: 300px;" formControlName="incidentType">
                    <option value="hardware">Hardware</option>
                    <option value="software">Software</option>
                </select>
                <input class="offset-10" type="hidden" formControlName="user" value="{{this.loginService.username}}">
                <input class="offset-10" type="hidden" formControlName="date_creation" value="{{this.date_creation}}">
            </div>
            <div>

                
                
                <label class="label mt-5">Description</label>
                <textarea class="area form-control" placeholder="Enter your description here"
                    formControlName="description"></textarea>
            </div>
            <label class="label">Status</label><br/>
            <select class="selection" style="width: 300px;" formControlName="status" >
                <option value="En cours">En cours</option>
                <option value="Terminer">Terminer</option>
            </select><br/>
            <button type="submit" [disabled]="formValidators()" class="btn btn-primary done mt-5">Save</button>

        </div>
    </form>

</div>